<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532440882861-59m35vu363namdreuccfc3snh142ce3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532440882861-59m35vu363namdreuccfc3snh142ce3q</string>
	<key>API_KEY</key>
	<string>AIzaSyDIAwoEBr7b1vkRPwC5DvDaXQpaAOC1RIY</string>
	<key>GCM_SENDER_ID</key>
	<string>532440882861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleapp</string>
	<key>PROJECT_ID</key>
	<string>primewalls-8b7ab</string>
	<key>STORAGE_BUCKET</key>
	<string>primewalls-8b7ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532440882861:ios:b6e2a9030c091d7af67024</string>
</dict>
</plist>